<div class="container-fluid">
    <div class="row rtit d-flex">
        <div class="col custom-col col-barra">
          <div class="barra"></div>
        </div>
        <div class="col col-sm-11 col-md-11 col-lg-11 col-titulo">
          <h1 class="titulo">Proyectos</h1>
        </div>
    </div>
    <div class="row sep"></div>
    <div class="row">
        <div class="col col-md-4 col-sm-6 col-card">
            <div class="card c1">
                <div class="card-cont">
                    <div class="card-frente">
                    </div>
                    <div class="card-atras">
                        <h5 class="card-fecha">Fecha</h5>
                        <span class="card-texto">E-Commerce realizado para Tech Components.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-md-4 col-sm-6 col-card">
            <div class="card c2">
                <div class="card-cont">
                    <div class="card-frente">
                    </div>
                    <div class="card-atras">
                        <h5 class="card-fecha">Fecha</h5>
                        <span class="card-texto">E-Commerce realizado para Tech Components.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-md-4 col-sm-6 col-card">
            <div class="card c3">
                <div class="card-cont">
                    <div class="card-frente">
                    </div>
                    <div class="card-atras">
                        <h5 class="card-fecha">Fecha</h5>
                        <span class="card-texto">E-Commerce realizado para Tech Components.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row sep"></div>
    <div class="row">
        <div class="col col-md-4 col-sm-6 col-card">
            <div class="card c4">
                <div class="card-cont">
                    <div class="card-frente">
                    </div>
                    <div class="card-atras">
                        <h5 class="card-fecha">Fecha</h5>
                        <span class="card-texto">E-Commerce realizado para Tech Components.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-md-4 col-sm-6 col-card">
            <div class="card c5">
                <div class="card-cont">
                    <div class="card-frente">
                    </div>
                    <div class="card-atras">
                        <h5 class="card-fecha">Fecha</h5>
                        <span class="card-texto">E-Commerce realizado para Tech Components.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-md-4 col-sm-6 col-card">
            <div class="card c6">
                <div class="card-cont">
                    <div class="card-frente">
                    </div>
                    <div class="card-atras">
                        <h5 class="card-fecha">Fecha</h5>
                        <span class="card-texto">E-Commerce realizado para Tech Components.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row sep"></div>
    <div class="row sep"></div>
</div>

