<div class="container-fluid">
    <div class="row">
            <div class="col col-md-2 col-sm-8">
                <a href="https://argentinaprograma.inti.gob.ar/" target="_blank"><img src="../../../assets/APLogo.png"  class="icon ap" alt="Icono ArgentinaPrograma"></a>
            </div>
            <div class="col col-md-6">
            </div>
            <div class="col col-md-3">
                <a href=""  target="_blank"><img src="../../../assets/github.png"  class="icon github" alt="Icono github"></a>
                <a href="" target="_blank"><img src="../../../assets/linkedin.png" class="icon linkedin" alt="Icono linkedin"></a>
                <a href=""  target="_blank"><img src="../../../assets/instagram.png" class="icon instagram" alt="Icono instagram"></a>
            </div>
            <div class="col col-md-1">
                <button type="button" class="btn btn-outline-light btn-sm">LOGIN</button>
            </div>
    </div>
</div>
