<div class="container-fluid">
  <div class="row rin"></div>
  <div class="row rtit d-flex">
    <div class="col custom-col">
      <div class="barra"></div>
    </div>
    <div class="col col-sm-11 col-md-11 col-lg-11">
      <h1 class="titulo">Trabajo</h1>
    </div>
  </div>
    <div class="row sep"></div>
    <div class="row rbar">
      <div class="container">
        <div class="steps">
          <span class="circle ci1">2010</span>
          <span class="circle ci2">2014</span>
          <span class="circle ci3">2018</span>
          <span class="circle ci4">2020</span>
          <div class="progress-bar" id="progress-bar">
            <span class="indicator"></span>
          </div>
        </div>
        <div class="steps-t">
          <span class="cuadrado c1">Mercado Libre</span>
          <span class="cuadrado c2">Mercado Libre</span>
          <span class="cuadrado c3">Mercado Libre</span>
          <span class="cuadrado c4">Mercado Libre</span>
        </div>
        <div class="steps-p">
          <span class="cuadradop c1">Desarrollador Junior</span>
          <span class="cuadradop c2">Full Stack Developer</span>
          <span class="cuadradop c3">Full Stack Developers Junior</span>
          <span class="cuadradop c4">Full Stack Developers Jr</span>
        </div>
      </div>
    </div>
    <div class="row sep"></div>
  </div>