<div class="container-fluid">
  <div class="row rin"></div>
  <div class="row rtit d-flex">
    <div class="col custom-col">
      <div class="barra"></div>
    </div>
    <div class="col col-sm-11 col-md-11 col-lg-11">
      <h1 class="titulo">Trabajo</h1>
      <button class="botones crear" routerLink="/nuevaexp" *ngIf="isLogged"><i class="bi bi-plus"></i></button>
    </div>
  </div>
    <div class="row sep"></div>
    <div class="row rbar">
      <div class="container ">
        <div class="progress-bar" id="progress-bar">
          <span class="indicator"></span>
        </div>
        <div *ngFor="let experiencia of expe; let i = index">
          <div class="card car{{i+1}}">
            <div class="face1">
              <span class="circle ci{{i+1}}">{{experiencia.anioE}}</span>
              <span class="cuadrado c{{i+1}}">{{experiencia.nombreE}}</span>
            </div>
            <div class="face2">
              <span class="cuadradop cp{{i+1}}">{{experiencia.descripcionE}}</span>
            </div>
          </div>
          <button class="botones editar" routerLink="/editexp/{{experiencia.id}}" *ngIf="isLogged">
            <i class="bi bi-pencil"></i>
          </button>
          <button class="botones borrar" *ngIf="isLogged" (click)="delete(experiencia.id)">
            <i class="bi bi-x"></i>
          </button>
        </div>
      </div>
    </div>
      <div class="row sep"></div>
</div>
