<div class="container-fluid">
    <div class="row rtit d-flex">
        <div class="col custom-col col-barra">
          <div class="barra"></div>
        </div>
        <div class="col col-sm-11 col-md-11 col-lg-11 col-titulo">
          <h1 class="titulo">Hard & Soft Skills</h1>
        </div>
    </div>
    <div class="row sep"></div>
    <div class="row">
        <div class="col">
            <div class="skill">
                <div class="skill-name">HTML</div>
                <div class="skill-bar">
                    <div class="skill-per" per="90%" style="max-width: 90%"></div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="skill">
                <div class="skill-name">CSS</div>
                <div class="skill-bar">
                    <div class="skill-per" per="90%" style="max-width: 90%"></div>
                </div>
            </div>
        </div>
        <div class="col">

            <div class="skill">
                <div class="skill-name">JS</div>
                <div class="skill-bar">
                    <div class="skill-per" per="90%" style="max-width: 90%"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="skill">
                <div class="skill-name">HTML</div>
                <div class="skill-bar">
                    <div class="skill-per" per="90%" style="max-width: 90%"></div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="skill">
                <div class="skill-name">CSS</div>
                <div class="skill-bar">
                    <div class="skill-per" per="90%" style="max-width: 90%"></div>
                </div>
            </div>
        </div>
        <div class="col">

            <div class="skill">
                <div class="skill-name">JS</div>
                <div class="skill-bar">
                    <div class="skill-per" per="90%" style="max-width: 90%"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row sep"></div>
</div>
